<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Styles.css">
    <title>Error 404</title>
</head>

<body>

<nav>
    <div id="navGauche">
        <h1>Pay My Buddy</h1>
    </div>

    <div id="navDroite">
        <ul>
            <a href="#">Home</a>
            <a href="#">Transfer</a>
            <a href="#">Profile</a>
            <a href="#" class="pageEnCours">Contact</a>
            <a href="#">Log off</a>
        </ul>

    </div>
</nav>

<header>
    <div id="header">
        <a href="#" class="pageEnCours">Home /</a> Contact
    </div>
</header>

<main>
    <div>
       !!! Error 404 !!!
    </div>
</main>

</body>

</html>