<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Registration</title>
    <!--  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />-->
    <!--  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>-->
    <!--  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<div>
    <h1>Registration</h1>
    <h3>Email</h3>
    <input type="text">
    <h3>Password</h3>
    <input type="password">
    <h3>First name</h3>
    <input type="text">
    <h3>Last name</h3>
    <input type="text">
    </br>
    <input type="submit" value="valider">
</div>

</body>
</html>