<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles.css">
		<link th:href="@{/css/styles.css}" rel="stylesheet" />
		<title>Registration</title>
	</head>
	
	<body>
	
		<nav>
			<div id="navGauche">
				<h1>Pay My Buddy</h1>
			</div>	

			<div id="navDroite">
					<ul>					
							<a href="#"></a>							
					</ul>			

		</nav>
		
		<header>
			<div id="header">
				<a href="#" class="pageEnCours"> Registration</a>
			</div>			
		</header>

		<main>
			<section id="titre1">	
				<div>
					<h2>My informations</h2>
				</div>			

			</section>
			<section id="profile">			
					
					<div><form>
					First name :
					<input type="text"></input>
				</form></div>
				
				<div><form>
					Last name :
					<input type="text"></input>
				</form></div>
				
				<div><form>
					Email :
					<input type="text"></input>
				</form></div>
				
				<div><form>
					Password :
					<input type="password"></input>
				</form></div>
			
			</section>
		
			<section>
					<form>
						<button class="blueButton">Register</button>
					</form>
			</section>
			
		</main>
		
	</body>
	
</html>
